h1 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
}

.container {
    margin-top: 40px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

#giphy-div, #nyt-div, #weather-div, #map-div, #food-div {
    margin: auto;
    margin-top: 30px;
}

.nyt-section {
    font-size: 0.8em;
}

.nyt-title {
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2em;
    margin: 0;
}

.nyt-abstract {
    font-style: italic;
    font-size: 1em;
}

.nyt-byline {
    font-variant: small-caps;
    font-size: 0.8em;
}

a {
    color: purple;
    font-size: 0.7em;
}

#weather-div {
    width: 350px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 6px;
}

#weather-api {
    color: white;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: 40px;
    padding: 10px 5px;
    align-content: center;
    border-radius: 6px;
} 

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    text-align: center;
    margin-bottom: 5px;
    padding: 20px;
}